@keyframes hideSidebar {
	0% {
		transform: translateX(0);
		width: var(--sidebar-width);
	}

	100% {
		width: 3.8rem;
	}
}

@keyframes showSidebar {
	from {
		width: 3.8rem;
	}

	to {
		transform: translateX(0);
		width: var(--sidebar-width);
	}
}

.hidedSidebar {
	> aside {
		animation: hideSidebar 0.35s forwards;
		flex-grow: 0;

		> nav {
			> div:first-child {
				@apply transition-opacity;
        opacity: 0;
			}
		}
	}

	> div {
		@apply w-full;
	}
}

.showedSidebar {
	> aside {
		animation: showSidebar 0.3s forwards;
		width: var(--sidebar-width);
	}
}
