@import 'tailwindcss';

:root {
	--primary: #ef4444;
	--bg: #191b2b;
	--border: #2a3439;

	--font-sans: 'Noto Sans', sans-serif;

	--padding-layout: 1.2rem;

	--sidebar-width: 15rem;
}

@theme {
	--color-primary: var(--primary);
	--color-bg: var(--bg);
	--color-border: var(--border);

	--spacing-layout: var(--padding-layout);

	--ease-default: ease-in-out;
	--duration-default: 333ms;
}

@theme inline {
	--font-sans: var(--font-sans);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

body {
	@apply text-white bg-bg text-base font-sans antialiased;
}
